{% extends 'layout/layout.html' %}

{% block title %}
  직원 수정
{% endblock %}

{% block contents %}
  <div class="card">
    <div class="card-header">
      <strong>직원 수정</strong>
    </div>

    <div class="card-body card-block">
      <form id="user_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <div id="image_container" class="m-auto" style="width: 150px; height: 150px;">
            <img src="/media/{{ object.photo }}" alt="default profile photo"
                 style="width: 150px; height: 150px">
          </div>
        </div>

        <div class="mb-5 text-center">
          <label class="btn btn-info mb-0">
            <span>업로드</span>
            {{ form.photo }}
          </label>
          <input id="id_photo_default" name="photo_default" type="hidden">
          <button type="button" class="btn btn-secondary ml-2" onclick="setDefaultPhotoImage()">
            기본값
          </button>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label class="form-control-label">ID <i class="fas fa-star text-info"></i></label>
              <input type="text" class="form-control" value="{{ object.username }}" disabled>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label class="form-control-label">비밀번호</label>
              <div class="text-center">
                <button type="button" class="btn btn-info">비밀번호변경</button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="{{ form.name.id_for_label }}" class="form-control-label">성함 <i class="fas fa-star text-info"></i></label>
              {{ form.name }}
              {{ form.name.errors }}
              <span id="id_name_error" class="text-danger"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="{{ form.nickname.id_for_label }}" class="form-control-label">닉네임</label>
              {{ form.nickname }}
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="{{ form.nickname.id_for_label }}" class="form-control-label">부서</label>
              {{ form.department }}
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="{{ form.duty.id_for_label }}" class="form-control-label">직책</label>
              {{ form.duty }}
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="{{ form.position.id_for_label }}" class="form-control-label">직위</label>
              {{ form.position }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="{{ form.phone.id_for_label }}" class="form-control-label">전화번호</label>
              {{ form.phone }}
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="{{ form.email.id_for_label }}" class="form-control-label">이메일</label>
              {{ form.email }}
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="{{ form.join_date.id_for_label }}" class="form-control-label">입사일</label>
              {{ form.join_date }}
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="{{ form.leave_date.id_for_label }}" class="form-control-label">퇴사일</label>
              {{ form.leave_date }}
            </div>
          </div>

          {{ form.status }}
        </div>

        <div class="text-right mt-3">
          <button type="button" class="btn btn-secondary" onclick="history.back()">취소</button>
          <button type="button" class="btn btn-danger ml-2" onclick="deleteUser()">삭제</button>
          <button type="submit" class="btn btn-success ml-2">수정</button>
        </div>
      </form>
    </div>
  </div>

  <form id="user_delete_form" action="{% url 'users:user_delete' object.pk %}" method="post">{% csrf_token %}</form>

{% endblock %}

{% block script %}
  <script>
    function setPhotoImage(event) {
      const reader = new FileReader();
      reader.onload = function (event) {
        const img = document.createElement("img");
        img.setAttribute("src", event.target.result);
        document.getElementById("id_photo_default").value = false;
        document.querySelector("#image_container").innerHTML = '';
        document.querySelector("#image_container").appendChild(img);
      };
      reader.readAsDataURL(event.target.files[0]);
    }

    function setDefaultPhotoImage() {
      document.getElementById("id_photo_default").value = true;
      document.getElementById("id_photo").value = '';
      document.getElementById("image_container").innerHTML = `
        <img src="/media/default/profile_photo.png" alt="default profile photo"
             style="width: 150px; height: 150px">
      `;
    }

    function deleteUser() {
      if (confirm('정말 삭제하시겠습니까?')) {
        document.getElementById('user_delete_form').submit();
      } else {
        return false;
      }
    }
  </script>
{% endblock %}