{% extends 'layout/layout.html' %}
{% load param_replace %}

{% block title %}
  직원 목록
{% endblock %}

{% block contents %}
  <div class="card">
    <div class="card-header">
      <strong>직원 목록</strong>
    </div>

    <div class="card-body card-block">

      <form method="get">
        <div class="row form-group">
          <div class="col col-md-12">
            <div class="input-group">
              <input type="text" name="q" placeholder="검색어를 입력해주세요." class="form-control">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
      </form>

      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 15%">#</th>
            <th style="width: 15%">성함</th>
            <th style="width: 15%">부서</th>
            <th style="width: 15%">직위</th>
            <th style="width: 20%">전화번호</th>
            <th style="width: 20%">이메일</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <th><a href="/users/user-detail/{{ object.pk }}/">{{ object.username }}</a></th>
              <td>{{ object.name }}</td>
              <td>{{ object.department | default_if_none:'' }}</td>
              <td>{{ object.position | default_if_none:'' }}</td>
              <td>{{ object.phone | default_if_none:'' }}</td>
              <td>{{ object.email | default_if_none:'' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="text-right">
        <a href="/users/user-create/" class="btn btn-success">등록</a>
      </div>

      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link"
              {% if page_obj.has_previous %}
               href="?{% param_replace page=1 %}"
              {% else %}
               href="#" tabindex="-1"
              {% endif %}>
              <span><i class="fas fa-angle-double-left"></i></span>
            </a>
          </li>

          <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link"
              {% if page_obj.has_previous %}
               href="?{% param_replace page=page_obj.previous_page_number %}"
              {% else %}
               href="#" tabindex="-1"
              {% endif %}>
              <span><i class="fas fa-angle-left"></i></span>
            </a>
          </li>

          {% for page in page_range %}
            <li class="page-item {% if page == page_obj.number %}active{% endif %}">
              <a class="page-link" href="?{% param_replace page=page %}">
                <span>{{ page }}</span>
              </a>
            </li>
          {% endfor %}

          <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link"
              {% if page_obj.has_next %}
               href="?{% param_replace page=page_obj.next_page_number %}"
              {% else %}
               href="#" tabindex="-1"
              {% endif %}>
              <span><i class="fas fa-angle-right"></i></span>
            </a>
          </li>

          <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link"
              {% if page_obj.has_next %}
               href="?{% param_replace page=last_page %}"
              {% else %}
               href="#" tabindex="-1"
              {% endif %}>
              <span><i class="fas fa-angle-double-right"></i></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

{% endblock %}